1.CS_WCF_sample/ThirdPartyAppPing_src/.vs/ThirdPartyAppPing/v14/.suo
1.CS_WCF_sample/ThirdPartyAppPing_src/ThirdPartyAppPing/bin/Debug/Backend.Utils.dll
1.CS_WCF_sample/ThirdPartyAppPing_src/ThirdPartyAppPing/obj
1.CS_WCF_sample/ThirdPartyAppPing_src/ThirdPartyAppPing/bin
6.LLRP_sample/NormaConfig/.vs/
6.LLRP_sample/NormaConfig/NormaConfig/bin/
6.LLRP_sample/NormaConfig/NormaConfig/obj/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!2.Java_MQTT_sample/zipcontents/lib/*
*.war
*.ear
package

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*