appimportsample/ThirdPartyAppPing_src/.vs/ThirdPartyAppPing/v14/.suo
appimportsample/ThirdPartyAppPing_src/ThirdPartyAppPing/bin/Debug/Backend.Utils.dll
appimportsample/ThirdPartyAppPing_src/ThirdPartyAppPing/obj
appimportsample/ThirdPartyAppPing_src/ThirdPartyAppPing/bin
javasample/jdk1.8.0_121/
norma/NormaConfig/.vs/
norma/NormaConfig/NormaConfig/bin/
norma/NormaConfig/NormaConfig/obj/